html {
  font-size: 16px;
  scrollbar-gutter: auto;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #2e2d37;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fbfbff;
}

header {
  background-color: #2563eb;
  width: 100%;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.nav-container {
  height: 100%;
  width: 100% ;
  display: flex;
  gap: 25rem;
  align-items: center;
  padding-left: 15rem;
}

.left-nav-container{
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 8%;
}

.lg-div {
  height: 100%;
  display: flex;
  align-items: center;
}

.lg-div img {
  height: 2.813rem;
}

.buscador-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buscador {
  border: 1px solid #ffffff4d;
  background-color: #ffffff33;
  border-radius: 6px;
  width: 20rem;
  height: 65%;
  padding-left: 2%;
  padding-top: 3%;
  font-size: 0.875rem;
  outline: none;
}

.buscador:focus {
  border: 2px solid #fff;
}

.bs-label {
  position: absolute;
  left: 3%;
  font-size: 0.875rem;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #ffffff99;
}

.buscador:focus ~ .bs-label {
  top: 22%;
  font-weight: 600;
  font-size: 0.625rem;
}

.bs-svg {
  position: relative;
  right: 10%;
  cursor: pointer;
}

.bs-svg path {
  color: #ffffffcc;
}

.right-nav-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 1rem;
  list-style: none;
}

.nav-link {
  height: 100%;
  padding: 0.781rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.9375rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: #ffffff1a;
}

.right-itens {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.perfil-btn,
.favoritos-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.781rem 1rem;
  border: none;
  border-radius: 0.375rem;
  background-color: transparent;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.perfil-btn:hover,
.favoritos-btn:hover {
  background-color: #ffffff1a;
}

.perfil-name{
  color: #fff;
}

.hero-section{
  background: linear-gradient(135deg, #2563eb 0%, #2564ebe6 100%);
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-bottom: 6%;
}

.hero-infor{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 5%;
}

.hero-title{
  color: #fff;
  font-size: 3.438rem;
  font-weight: 800;
  margin-bottom: 5%;
}

.hero-subtitle{
  color: #ffffffea;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 100;
  margin-bottom: 10%;
}

.hero-buttons{
  display: flex;
  gap: 5%;
}

.cta-button{
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  padding: 3% 5%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cta-button.primeiro{
  background-color: #fff;
  color: #2563eb;
}

.cta-button.segundo{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.cta-button.primeiro:hover{
  transform: translateY(-2%);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background-color: #fbfbff;
}

.cta-button.segundo:hover{
  transform: translateY(-4%);
  background-color: #fbfbff;
  color: #2563eb;
}

.como_funciona-section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.section-text{
  margin: 0 auto 5%;
  max-width: 48rem;
  text-align: center;
}

.section-title{
  font-size: 3rem;  
  font-weight: 700;
  margin-bottom: 4%;
}

.section-title.se{
  font-size: 3.5rem;
}

.section-subtitle{
  font-size: 1.1rem;
  color: #6a6977;
}

.section-subtitle.se{
  font-size: 1.25rem;
}

.timeline{
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-line{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #2563eb;
}

.timeline-item{
  position: relative;
  width: 100%;
}

.timeline-content{
  padding: 2%;
  border: 1px solid #e5e7eb;
  width: 29%;
  border-radius: 10px;
  margin-right: auto;
  margin-left: 15%;
  transition: all 0.3s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.timeline-content:hover,
.timeline-number:hover .timeline-content{
  transform: translateY(-2%);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.timeline-content:hover .timeline-icon{
  transform: scale(1.1);
}

.timeline-content.reverse{
  margin-left: auto;
  margin-right: 15%;
}

.timeline-number{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2563eb;
  color: #fff;
}

.tml_cont-header{
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}

.timeline-icon{
  border: 2px solid #2563eb33;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.timeline-icon.accent{
  border-color: #f59e0b33;
}

.timeline-icon.primary,
.timeline-icon.primary path{
  background-color: #2563eb1a;
  color: #3a7afe;
}

.timeline-icon.accent,
.timeline-icon.accent path{
  background-color: #f59e0b1a;
  color: #f59e0b;
}

.timeline-icon svg{
  width: 1.75rem;
}

.tml_cont-title{
  font-size: 1.5rem;
}

.tml_cont-subtitle{
  font-size: 1rem;
}

.cta_timeline-container{
  position: relative;
  width: 100%;
  padding: 2%;
  text-align: center;
  background-color: #2563eb;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.cta_tml_cont-title{
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2%;
}

.cta_tml_cont-subtitle{
  color: #fff;
  margin-bottom: 4%;
}

.cta_tml-button{
  background-color: #fff;
  border: none;
  color: #2563eb;
  font-size: 1rem;
  padding: 1.5rem 1.5rem;
  border-radius: 8px;
  font-weight: 700;
  margin-bottom: 2%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cta_tml-button:hover{
  transform: translateY(-2%);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background-color: #fbfbff;
}

.cta_timeline-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 4px;
  height: 20vh;
  background-color: #2563eb;
}

.servicos_destaque-section{
  height: 100%;
  width: 100%;
  padding: 7% 0% 10%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.sv_des-cards_home{
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: 3%;
}

.sv_des-card{
  width: 21.5%;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border: 1px solid #e5e7eb;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sv_des-card:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.servico-icon{
  width: 5rem;
  height: 5rem;
  background-color: #3a7afe;
  border-radius: 50%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.sv_des-card:hover .servico-icon{
  transform: scale(1.05);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
}

.servico-icon svg{
  height: 55%;
  width: 55%;
}

.sv_des-card-text{
  text-align: center;
  margin-bottom: 8%;
}

.sv_des-card-title{
  font-size: 1.5rem;
  margin-bottom: 4%;
}

.sv_des-card-subtitle{
  font-size: 1rem;
  color: #6a6977;
}

.sv_des-card-button{
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  transition: all 0.3s;
}

.sv_des-card-button:hover{
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background-color: #3a7afe;
}

.soft-wave-divider{
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 12%;
  display: block;
}

.soft-wave-divider.bottom{
  bottom: -10%;
  transform: rotate(180deg);
}

.motivos_escolhas-section{
  padding-top: 8%;
  margin-bottom: 10%;
  background-color: #2563eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.motivos_escolhas-section .section-title{
  color: #fbfbff;
}

.motivos_escolhas-section .section-subtitle{
  color: #fbfbffc0;
}

.mt_es-cards_home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin-bottom: 10%;
}

.mt_es-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbff;
  border: 1px solid #e5e7eb;
  width: 28%;
  padding: 2.5rem;
  border-radius: 10px;
  margin-right: 3%;
  box-shadow: 0 5px 15px 0 rgba(37, 99, 235, 0.2);
  transition: all 0.3s;
}

.mt_es-card:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.25);
  border-color: #2563eb33;
}

.mt_es-icon{
  width: 5rem;
  height: 5rem;
  margin-bottom: 10%;
  background-color: #3a7afe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.mt_es-card:hover .mt_es-icon{
  transform: scale(1.05);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
}

.mt_es-icon svg{
  width: 55%;
  height: 55%;
}

.mt_es-icon svg path{
  color: #fbfbffea;
}

.mt_es-card-text{
  text-align: center;
}

.mt_es-card-title{
  font-size: 1.25rem;
  margin-bottom: 5%;
}

.mt_es-card-subtitle{
  font-size: 1rem;
  color: #6a6977;
}

.mt_es-linha {
  height: 3px;
  width: 80%;
  margin: 2% 0;
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 2px;
}

.cta-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.cta-buttons{
  display: flex;
  justify-content: center;
  gap: 5%;
}

.cta_section-button{
  padding: 1.125rem 2rem;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.125rem;
  white-space: nowrap;
  color: #fff;
  border: none;
  background-color: #2563eb;
  transition: all 0.3s;
}

.cta_section-button:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.cta_section-button.sec{
  background-color: transparent;
  border: 2px solid #2563eb;
  color: #2563eb;
}

.cta_section-button.sec:hover{
  background-color: #2563eb;
  color: #fff;
}

footer{
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content{
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 3%;
}

.footer-section{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-section{
  margin-right: 8%;
}

.footer-section.end{
  margin: 0;
}

.footer-section ul li{
  list-style: none;
  margin-bottom: 10%;
}

.ft-logo{
  display: flex;
  gap: 2%;
  margin-bottom: 5%;
}

.ft-logo img{
  height: 2.5rem;
}

.footer-title-logo{
  font-size: 1.5rem;
  color: #fff;
  white-space: nowrap;
}

.footer-subtitle{
  font-size: 0.875rem;
  color: #ffffffb3;
  line-height: 1.6;
  padding-left: 2%;
  margin-bottom: 7%;
}

.social-link svg{
  height: 3rem;
}

.social-link svg g{
  fill: #2563eb;
}

.footer-title{
  font-size: 1.125rem;
  color: #fff;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.footer-link{
  font-size: 0.875rem;
  color: #ffffffb3;
  text-decoration: none;
  white-space: nowrap;
}