@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body{
    background-image: url("../../../img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    width: 35%;
    height: 80vh;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 0px #00000038;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_foto{
    background-color: gainsboro;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_foto label{
    height: 100%;
    width: 100%;
}

.input_foto input{
    display: none;
}

.input_box{
    margin-top: 5%;
    width: 80%;
    height: 10%;
}

.input_box input{
    height: 100%;
    width: 100%;
    font-size: 18px;
    padding-left: 1.5%;
    outline: none;
    border: none;
    border-bottom: 2px solid #777777;
}

.selects{
    width: 80%;
    height: 6%;
    margin-top: 3%;
    display: flex;
}

#Estado{
    margin: 0% 3%;
}

select{
    width: 100%;
    height: 100%;
    background-color: #ececec;
    color: #4b4b4b;
    outline: none;
    border-radius: 100px;
    border: 1px solid #d6d6d6;
    padding-left: 1%;
}

.button{
    margin-top: 5%;
    width: 80%;
    height: 10%;
}

.cadastrar{
    font-size: 22px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    color: white;
    background-color: #6989f0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastrar:hover{
    background-color: #4e64ad;
}

.input_termos{
    text-align: center;
    width: 80%;
    margin-top: 3%;
    font-size: 14px;
}

.input_termos a{
    color: #3434a3;
    text-decoration: none;
}

.input_termos a:hover{
    color: #272777;
}

@media screen and (max-width: 1750px) {
    .input_foto{
        width: 155px;
        height: 155px;
    }
    
    .input_termos{
        font-size: 13px;
    }
}

@media screen and (max-width: 1550px) {
    .input_foto{
        width: 140px;
        height: 140px;
        margin-bottom: 4%;
    }

    .input_box{
        margin-top: 6%;
        height: 8%;
    }

    .selects{
        height: 5%;
    }

    .input_termos{
        font-size: 11px;
    }

    .button{
        height: 8%;
    }
}

@media screen and (max-width: 1400px) {
    form{
        width: 40%;
        height: 85vh;
    }
}

@media screen and (max-width: 1100px) {
    form{
        width: 100%;
        height: 100%;
    }

    .input_foto{
        margin-bottom: 0%;
        width: 170px;
        height: 170px;
    }

    .input_box{
        margin-top: 5%;
        width: 70%;
    }

    .selects{
        width: 70%;
        height: 6%;
    }

    .button{
        width: 70%;
        height: 10%;
    }

    .input_termos{
        font-size: 14px;
        width: 70%;
    }
}

@media screen  and (max-width: 900px){
    .input_foto{
        width: 200px;
        height: 200px;
    }
    
    .input_box{
        width: 80%;
    }

    .input_box input{
        font-size: 22px;
    }
    
    .selects{
        width: 80%;
        height: 4%;
    }

    select{
        font-size: 14px;
    }

    .button{
        width: 80%;
        height: 8%;
    }

    .cadastrar{
        font-size: 26px;
    }
    
    .input_termos{
        width: 80%;
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .input_foto{
        transform: translateY(-35%);
        width: 170px;
        width: 170px;
    }
    
    .input_box{
        height: 7%;
    }

    .input_box input{
        font-size: 18px;
    }
    
    .selects{
        height: 4%;
    }
    
    select{
        font-size: 12px;
    }

    .button{
        height: 7%;
    }

    .cadastrar{
        font-size: 22px;
    }

    .input_termos{
        font-size: 11px;
    }
}

@media screen and (max-width: 550px) {
    .input_foto{
        width: 155px;
        height: 155px;
    }

    .input_box{
        height: 6%;
        margin-top: 7%;
    }

    .input_box input{
        font-size: 16px;
    }

    .selects{
        height: 3%;
        margin-top: 5%;
    }

    .button{
        height: 6%;
        margin-top: 10%;
    }
}

@media screen  and (max-width: 400px){
    .input_foto{
        height: 130px;
        width: 130px;
    }

    .selects{
        height: 5%;
    }

    .button{
        height: 7%;
    }
}